name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Frontend
        run: |
          cd frontend
          npm install
      - name: Install Backend
        run: |
          cd backend
          npm install
